{
    "binance":{
        "tradeon":true,
        "pingInterval":1800000,
        "numSessions":8,
        "websocket":{
            "public":{
                "subscribe":["future"],
                "spot":"wss://stream.binance.com:9443/stream",
                "future":"wss://fstream.binance.com/stream",
                "option":"wss://nbstream.binance.com/eoptions/stream",
                "channels":["trade","bookTicker"],
                "instruments":["XLMUSDT","ADAUSDT","LTCUSDT","DOGEUSDT","GALAUSDT",""]
            },
            "private":{
                "subscribe":["future"],
                "spotlive":"wss://stream.binance.com:9443/stream",
                "spot":"wss://testnet.binance.vision/ws",
                "futurelive":"wss://fstream.binance.com/ws",
                "future":"wss://stream.binancefuture.com/ws",
                "option":"wss://nbstream.binance.com/eoptions/ws",
                "channels":[],
                "instruments":[]
            }
        },
        "http":{
            "public":{
                "spot":"https://api.binance.com",
                "future":"https://fapi.binance.com",
                "option":"https://eapi.binance.com",
                "historical":"https://data.binance.vision"
            },
            "private":{
                "spotlive":"https://api.binance.com",
                "spot":"https://testnet.binance.vision/api",
                "futurelive":"https://fapi.binance.com",
                "future":"https://testnet.binancefuture.com",
                "option":"https://eapi.binance.com"
            }
        },
        "secrets":{
            "public":{
                "spot":{
                    "apikey":"YOUR_API_KEY",
                    "apisecret":"YOUR_API_SECRET"
                },
                "future":{
                    "apikey":"YOUR_API_KEY",
                    "apisecret":"YOUR_API_SECRET"
                },
                "option":{
                    "apikey":"YOUR_API_KEY",
                    "apisecret":"YOUR_API_SECRET"
                }
            },
            "private":{
                "spot":{
                    "apikey":"YOUR_API_KEY",
                    "apisecret":"YOUR_API_SECRET"
                },
                "future":{
                    "apikey":"YOUR_API_KEY",
                    "apisecret":"YOUR_API_SECRET"
                },
                "option":{
                    "apikey":"YOUR_API_KEY",
                    "apisecret":"YOUR_API_SECRET"
                }
            }
        }
    }
}
